@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 3 7 18;
  --foreground: 226 232 240;
  --primary: 16 185 129;
}

* {
  @apply antialiased;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-slate-950 text-slate-100;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-500 rounded-full hover:bg-emerald-400;
}
